<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>維尼小畫布</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    html, body {
        margin:0;
    }
  </style>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"> -->
</head>
<body>
  <canvas id="draw"></canvas>
  <div id="useridfield"></div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <!-- <script src="/assets/canvas.js" charset="utf-8"></script> -->
  <script>
    window.onload = function (e) {
      liff.init(function (data) {
        document.getElementById('useridfield').textContent = data.context.userId;
        console.log(data.context.userId);    //直接取得 userId
      });
    };

    var canvas  = document.getElementById('draw');
    var canvastop = canvas.offsetTop
    canvas.width = '100%';
    canvas.height = '300px';

    var context = canvas.getContext("2d");

    var lastx;
    var lasty;

    context.strokeStyle = "#000000";
    context.lineCap = 'round';
    context.lineJoin = 'round';
    context.lineWidth = 5;

    function clear() {
      context.fillStyle = "#ffffff";
      context.rect(0, 0, 300, 300);
      context.fill();
    }

    function dot(x,y) {
      context.beginPath();
      context.fillStyle = "#000000";
      context.arc(x,y,1,0,Math.PI*2,true);
      context.fill();
      context.stroke();
      context.closePath();
    }

    function line(fromx,fromy, tox,toy) {
      context.beginPath();
      context.moveTo(fromx, fromy);
      context.lineTo(tox, toy);
      context.stroke();
      context.closePath();
    }

    canvas.ontouchstart = function(event){
      event.preventDefault();

      lastx = event.touches[0].clientX;
      lasty = event.touches[0].clientY - canvastop;

      dot(lastx,lasty);
    }

    canvas.ontouchmove = function(event){
      event.preventDefault();

      var newx = event.touches[0].clientX;
      var newy = event.touches[0].clientY - canvastop;

      line(lastx,lasty, newx,newy);

      lastx = newx;
      lasty = newy;
    }
  </script>
</body>
</html>
